li {
    list-style-type: none;
    float: left;
    border-right-color: #bbb;
    border-right-width: 1px;
    border-right-style: solid;
}
li a {
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
    background-color: crimson;
}
li a:hover {
    background-color: #111;
}
.ul {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
